textarea, input {
  width: 100%;
}

form {
  margin-top:8em;
}

input {
  color: #3f3f3f;
  font-weight: bold;
  border: 1px solid #3f3f3f;
  box-shadow: none;
  padding-left: .5em;
  background-color: #ededed;
}

textarea {
  color: #3f3f3f;
  border: 1px  solid #3f3f3f;
  padding-left: .5em;
  background-color: #ededed;
}

.error {
  color: red;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
    margin: 0;
    padding: .2em;
    font-size: 1em;
    border: 1px white solid;
    color: white;
    text-decoration: none;
    background-color: lightblue;
}

button:hover {
    color: lightblue;
    background-color: white;
    border: 1px solid lightblue;
}
